.line-Class1{
    fill: none;
    stroke : rgb(49, 8, 174);
}

.line-Class2{
    fill: none;
    stroke : rgb(174, 8, 91);
}

.centerHorizontal{
    text-align: center;
    margin: auto;
    width: 100%;
}
